# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Logs
logs
*.log
*.log.*

# Builds
dist/
build/
.cache/

# Hardhat/Foundry
artifacts/
cache/
coverage/
coverage.json
typechain/
deployments/

# Vite
*.tsbuildinfo
.vite/

# OS
.DS_Store
Thumbs.db

